@using System.Data
@using NewEvent.Models
@using NewEvent.Helpers
@model DataSet
@{
    ViewBag.Title = "New Event System | Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<DepartmentList> DepartmentList = ViewData["DepartmentList"] as List<DepartmentList>;
    
    var department = (Session["Department"] != null) ? Session["Department"].ToString() : null;
    var pos = (Session["Position"] != null) ? Session["Position"].ToString() : null;


    string[] status_define = {"-","Approved","Rejected","Waiting","Need more document","Re-submit"," ","Request","Review","Trial & Confirm", "Initial Production", "Finished", "Rejected" };

    string[] Messages = {"งานติดขัดปัญหาเยอะมั้ยครับ","ราบลื่นดีครับ ตาม plan"};

}

<script type="text/javascript">
    var DepartmentLists = @Html.Raw(Json.Encode(DepartmentList));
    var GenerateMailPath = '@Url.Action("GenerateMail", "Mail")';
</script>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/sweetalert")
@Scripts.Render("~/bundles/filepond")

<style>
    .card-sticky{
          position: -webkit-sticky;
        position: sticky;
        top: 73px;
    }

    hr {
        margin-top: 1rem;
        margin-bottom: 0.5rem; 
        border: 0;
        border-top: 1px solid rgba(0,0,0,.1);
    }
    
    .card-body {
        flex: 1 1 auto;
        padding: 0.65rem 0.9rem;
    }
    
    #Top {
        box-shadow: rgba(0, 0, 0, 0.29) 0px 3px 9px 0px;
        background: white;
        display: inline-block;
        width: 50px;
        height: 50px;
        text-align: center;
        border-radius: 36px;
        position: fixed;
        top: 72px;
        transition: background-color .3s, opacity .5s, visibility .5s;
        opacity: 0;
        visibility: hidden;
        z-index: 19;
        left: 56%;
        cursor: pointer;
    }
        #Top:hover {
            @* cursor: pointer;
            background-color: #333; *@
        }

        #Top:active {
            background-color: #555;
        }

        #Top.show {
            opacity: 1;
            visibility: visible;
        }

    @@media (min-width: 500px) {
       
        #Top {
            margin: 10px;
        }
    }

    .arrow-collapse{
        position: absolute;
        float: right;
        display: block;
        right: 10px;
        top: 20px;
    }

    .timeline-footer{
        padding: 0px 10px 10px 10px !important;
    }
 
    .tooltip-inner {
        background-color: #007bff;
    }
    .tooltip.bs-tooltip-top .arrow:before {
        border-top-color: #007bff !important;
    }
    .tooltip.bs-tooltip-bottom .arrow:before {
        border-bottom-color: #007bff !important;
    }

    .sidebar-collapse .mailbox-attachments li {
        width: 143px;
        transition: transform 0.5s !important;

    }

    .mailbox-attachments li {
        width: 148px;
        transition: transform 0.5s !important;
    }

    .sidebar-collapse .file-list .mailbox-attachments li {
        width: 165px;
        transition: transform 0.5s !important;
    }

    .file-list .mailbox-attachments li {
        width: 180px;
        transition: transform 0.5s !important;
    }

    p.text-muted {
        margin-bottom: -8px;
    }

    .tab-nav:not(.active) {
        color: #007bff !important;
        border: 1px solid #007bff;
    }

    .main-sidebar , .main-header{
        z-index: 20 !important;
    }

    #resubmit_form .form-group{
        margin-bottom: 0.5rem;
    }

    .hide-fab{
        display:none;
    }
    .hide-fab i{
        display:inherit;
    }

    .disable-fab{
        pointer-events: none;
        cursor: default;
        color: grey
    }

    .w-actions {
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        bottom: 24px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        position: fixed;
        right: 24px;
        z-index: 100
    }

    .w-actions>* {
        margin-top: 20px
    }

    .w-actions__fab {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background-color: #3740ff;
        border: 0;
        border-radius: 50%;
        -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
        color: #fff;
        cursor: pointer;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        font-family: "Roboto", sans-serif;
        font-size: .875em;
        font-weight: 600;
        height: 56px;
        letter-spacing: 1px;
        overflow: hidden;
        padding: 0;
        position: relative;
        text-indent: -9999px;
        text-overflow: initial;
        text-transform: uppercase;
        width: 56px;
    }

    .w-actions__fab:hover {
        border-radius: 28px;
        padding: 0 24px 0 52px;
        text-indent: 0;
        width: 100%;
        white-space: nowrap;
        -webkit-transition: width 1s;
        transition: width 1s;
    }

    .w-actions__fab:active {
        background-color: #3740ff;
        -webkit-box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
        box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12)
    }


    .w-actions__fab::before {
        background-size: 24px 24px;
        content: '';
        height: 24px;
        left: 16px;
        position: absolute;
        top: 16px;
        width: 24px
    }

    .w-actions__fab::after {
        bottom: 0;
        content: '';
        left: 0;
        pointer-events: none;
        position: absolute;
        right: 0;
        top: 0;
        -webkit-transition: background-color .2s, border .2s;
        transition: background-color .2s, border .2s;
        z-index: 1
    }

    .w-actions__fab:hover::after {
        background-color: rgba(255, 255, 255, 0.08)
    }

    .w-actions__fab:focus::after {
        background-color: rgba(255, 255, 255, 0.24)
    }

    .w-actions__fab:active::after {
        background-color: rgba(255, 255, 255, 0.32)
    }

    .w-actions__fab--resubmit::before {
        background-image: url("@Url.Content("~/tmp/docs/assets/plugins/fontawesome-free/svgs/solid/tasks.svg")");
    }

    .w-actions__fab--problem::before {
        background-image: url("@Url.Content("~/tmp/docs/assets/plugins/fontawesome-free/svgs/solid/exclamation-triangle.svg")");
    }

    .w-actions__fab--finish::before {
        background-image: url("@Url.Content("~/tmp/docs/assets/plugins/fontawesome-free/svgs/solid/check.svg")");
    }
    
    .w-actions__fab--stop::before {
        background-image: url("@Url.Content("~/tmp/docs/assets/plugins/fontawesome-free/svgs/solid/times.svg")");
    }

    #finish:hover{
        background-color: var(--green)!important;
    }
    
    #problem:hover{
        background-color: #ff9900 !important;
    }
    
    #accident:hover{
        background-color: var(--red)!important;
    }

    body { padding-right: 0 !important }

</style>



<!-- Summernote -->
<script src="~/tmp/plugins/summernote/summernote-bs4.min.js"></script>
<script src="~/Plugin/drift-main/dist/Drift.min.js"></script>
<script src="~/Scripts/Detail/Detail.js?domain='nv',date='@DateTime.Now.ToString("yyMMddHH")'"></script>

<script src="~/Plugin/filepond/filepond.min.js"></script>
<script src="~/Plugin/filepond/filepond.jquery.js"></script>
<script src="~/Plugin/filepond/filepond-plugin-file-encode.js"></script>
<script src="~/Plugin/filepond/filepond-plugin-image-preview.min.js"></script>
<script src="~/Plugin/filepond/filepond-plugin-file-validate-size.js"></script>
<script src="~/Scripts/Shared/FilePond.js?date='@DateTime.Now.ToString("yyMMddHH")'"></script>
<script src="~/Scripts/Shared/FilePond_alt.js?date='@DateTime.Now.ToString("yyMMddHH")'"></script>
<script src="~/Scripts/Shared/FilePond_rd.js?date='@DateTime.Now.ToString("yyMMddHH")'"></script>

<script>
    $(() => {
        $("#menu3-1").addClass('active');
        $('#menu1-1').removeClass('active');
        $('#menu2-1').removeClass('active');
    });
</script>

<!-- Content Wrapper. Contains page content -->

@* @Html.Partial("_Department") *@
<div class="content-wrapper">

<!-- Main content -->
<section class="content">
<div class="container-fluid">


<a id="Top" style="font-size: 35px;color: #676767;"><i class="fas fa-angle-up"></i></a>
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="col-sm-12">
                <div class="row">
                            @Html.Partial("Fab",DepartmentList)

                </div>
                <div class="row">
                    <div class="w-actions">
                        @* @if(Editable){
                            <a class="w-actions__fab w-actions__fab--edit bg-warning" id="tp_edit" href='@Url.Action("Index", "Request",new {id = Topic.Code})'>
                               <span>Edit</span>
                            </a>
                        } *@
                            <a class="w-actions__fab w-actions__fab--finish bg-success" id="finish">
                               <span>Run Event Finish</span>
                            </a>
                            <a class="w-actions__fab w-actions__fab--problem bg-warning" id="problem" data-toggle="modal" data-target="#problem_modal">
                                <span>Open Problem</span>
                            </a>
                            <a class="w-actions__fab w-actions__fab--stop bg-danger" id="accident" data-toggle="modal" data-target="#accident_modal">
                                <span>Stop Accidentally</span>
                            </a>
                    </div>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-sm-8">
                    <h1>
                        M3 29-07-2020
                        <span class="badge badge-primary">Rev 00</span>
                        <a style="font-size: 1.8rem!important;">
                            <span class="badge badge-warning"><i class="fas fa-pencil-alt" style="font-size: 1rem!important;"></i> Edit</span>
                        </a> 
                    </h1>

                    @* @{
                        var rv_badge = "secondary";
                        var rv_icon = "fa-lock";

                        var tr_badge = "secondary";
                        var tr_icon = "fa-lock";

                        var cf_badge = "secondary";
                        var cf_icon = "fa-lock";

                        if(Topic.Status == 8){
                            rv_badge = (isReview) ? "primary" : "warning";
                            rv_icon = (isReview) ? "fa-check" : "fa-clock";
                        }

                        if(Topic.Status == 9){
                            rv_badge = "primary";
                            rv_icon =  "fa-check";
                            tr_badge = (isTrial) ? "primary" : "warning";
                            tr_icon = (isTrial) ? "fa-check" : "fa-clock";
                        }

                        if(Topic.Status == 10){
                            rv_badge = tr_badge = "primary";
                            rv_icon = tr_icon =  "fa-check";
                            cf_badge = (isConfirm) ? "primary" : "warning";
                            cf_icon = (isConfirm) ? "fa-check" : "fa-clock";
                        }

                        if(Topic.Status == 11){
                            rv_badge = tr_badge = cf_badge = "primary";
                            rv_icon = tr_icon = cf_icon =  "fa-check";
                        }
                    } *@

                    @* @if(isRelated){
                        <span class='badge badge-pill badge-@rv_badge'>Review
                        <i class='fas @rv_icon'></i>
                        </span>
                    }

                    @if(isTrialable || (isQC && isRelated)){
                        <span class='badge badge-pill badge-@tr_badge'>Trial & Confirm
                        <i class='fas @tr_icon'></i>
                        </span>
                    }

                    @if(ViewBag.cf_list.Contains(department) || (isQC && isRelated)){
                        <span class='badge badge-pill badge-@cf_badge'>Initial Production
                        <i class='fas @cf_icon'></i>
                        </span>
                    } *@
                    
                </div>
                <div class="col-sm-4">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href='@Url.Action("Index","Home")'>New Event System</a></li>
                        <li class="breadcrumb-item active">Project Detail</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>
            <div class="row">
                <!-- /.col -->
                <div class="col-md-12">
                    <div class="card card-primary card-outline">
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="active tab-pane" id="Detail">
                                    <!-- /.mailbox-controls -->
                                    <div class="mailbox-read-message">
                                    <form class="form-horizontal">

                                    @* @if(ViewBag.RejectMessage != null){
                                        var rj_msg = ViewBag.RejectMessage;
                                        <h4 class="text-danger">Rejected By</h4>
                                            @:&nbsp; <i class="fas fa-angle-right text-danger"></i>&nbsp; <span class="text-danger"> @rj_msg.Department - @rj_msg.Profile.FullName (@rj_msg.Date) : @rj_msg.Description</span> 
                                    } *@
                                        @* <h4 class="@(@ViewBag.RejectMessage != null ? "mt-3":"")">Author</h4>
                                            &nbsp; <i class="fas fa-angle-right text-primary"></i>&nbsp; <span> @Topic.Department -  @Topic.Profile.FullName (@Topic.Time_insert)</span>
                                    @if(status != "Waiting" && Topic.ApprovedBy != null){
                                        <h4 class="mt-3">Approved By</h4>
                                            try{
                                                @:&nbsp; <i class="fas fa-angle-right text-primary"></i>&nbsp; <span> @Topic.Department -  @Topic.ApproverProfile.FullName (@Topic.ApprovedDate)</span>
                                            }catch(Exception err){
                                                <script>
                                                   window.location.reload();
                                                </script>
                                            }
                                    } *@
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h4 class="mt-3">Product Type</h4>
                                            &nbsp; <i class="fas fa-angle-right text-primary"></i>&nbsp; <span>Meter 2R</span>
                                        </div>
                                        <div class="col-md-6">
                                            <h4 class="mt-3">Line</h4>
                                            &nbsp; <i class="fas fa-angle-right text-primary"></i>&nbsp; <span>M3</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h4 class="mt-3">Model</h4>
                                            &nbsp; <i class="fas fa-angle-right text-primary"></i>&nbsp; <span>K1TA base KZZJ</span>
                                        </div>
                                        <div class="col-md-6">
                                            <h4 class="mt-3">Event</h4>
                                            &nbsp; <i class="fas fa-angle-right text-primary"></i>&nbsp; <span>Japan & A-MO</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h4 class="mt-3">Plan</h4>
                                            &nbsp; <i class="fas fa-angle-right text-primary"></i>&nbsp; <span>3</span>
                                        </div>
                                        <div class="col-md-6">
                                            <h4 class="mt-3">Part NO</h4>
                                            &nbsp; <i class="fas fa-angle-right text-primary"></i>&nbsp; <span>-</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <h4 class="mt-3">Event Date</h4>
                                            &nbsp; <i class="fas fa-angle-right text-primary"></i>&nbsp; <span>18-09-2020</span>
                                        </div>
                                    </div>
                                    </form>
                                @try{
                                    @* if(Topic.FileList.Count != 0){
                                        <h4 class="mt-3">Attach File</h4>
                                        <div class="card-footer bg-white">
                                        @Html.Partial("~/Views/Helper/FileList.cshtml",Topic.FileList as List<FileItem>)
                                        </div>
                                    }    *@
                                }catch(Exception err){
                                    <script>
                                        window.location.reload();
                                    </script>
                                }
                                <div class="card card-primary card-outline mt-4 p-4">
                                <table id="detail_event_table" class="table table-bordered table-hover txtcenter" width="100%">
                                    <thead>
                                        <tr>
                                            <th width="27%">Model No.</th>
                                            <th width="15%">Event</th>
                                            <th width="7%">Q'ty</th>
                                            <th width="8%">FG</th>
                                            <th width="10%">NG Q'ty</th>
                                            <th width="10%">%NG</th>
                                            <th width="40%">Defect Detail</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <form id="detail_event_form" action="javascript:void(0);">
                                        @foreach(var EventDetail in ViewBag.EventDetails){
                                            <tr>
                                                <td><input name="dt_model" class="form-control" value="@EventDetail.Model"></input></td>
                                                <td><input name="dt_event" class="form-control" value="@EventDetail.Event"></input></td>
                                                <td><input name="dt_qty" type="number" class="form-control" min="0" value="@EventDetail.Qty"></input></td>
                                                <td><input name="dt_fg" type="number" class="form-control" min="0" value="0" max="@EventDetail.Qty" oninput="checkMax(this)" required></input></td>
                                                <td><input name="dt_ng_qty" type="number" class="form-control" min="0" value="0" max="@EventDetail.Qty" oninput="checkMax(this)" required></input></td>
                                                <td><input name="dt_percent_ng" class="form-control" value="0%" disabled></input></td>
                                                <td><textarea name="dt_defect" class="form-control" rows="1" required></textarea></td>
                                            </tr>
                                        }
                                        </form>
                                    </tbody>
                                </table>
                                <div class="row mt-3">
                                    <div class="col-10 row">
                                        <div id="for_datepicker" style="top: 368px; !important"></div>
                                        <label class="col-sm-2 col-form-label">Finish Time</label>
                                        <div class="col-sm-8">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
                                                </div>
                                                    <input data-toggle="datepicker" class="form-control required" placeholder="Select Date " autocomplete="off" name="timing" data-inputmask-alias="datetime" data-inputmask-inputformat="dd-MM-yyyy" data-mask="99-99-9999" style="border-radius: 0px 5px 5px 0px; !important" required>
                                                    <div data-toggle="datepicker"></div>
                                            </div>
                                        </div>
                                        <div class="col-sm-2"></div>
                                    </div>
                                    <div class="col-2">
                                        <input type="submit" class="btn btn-block btn-primary btn-block" value="Update" disabled>
                                    </div>
                                </div>
                                </div>


                                </div>
                                    <!------------------------------------QUALITY CONTROL---------------------------------------------------------->
                                    
                                    <div class="mt-3 ml-n3 mr-n3">
                                        <div class="card-header p-2">
                                        <ul class="nav nav-pills ml-2">
                                            <li class="nav-item"><a class="nav-link tab-nav mr-2 active" id="custom-tabs-four-home-tab" data-toggle="pill" href="#custom-tabs-four-home" role="tab">Problem 1</a></li>
                                            <li class="nav-item"><a class="nav-link tab-nav mr-2" id="custom-tabs-four-profile-tab" data-toggle="pill" href="#custom-tabs-four-profile" role="tab">Problem 2</a></li>
                                        </ul>
                                        </div>
                                        <div class="card-body">
                                            <div class="tab-content" id="custom-tabs-four-tabContent">
                                                <div class="tab-pane fade active show" id="custom-tabs-four-home" role="tabpanel" aria-labelledby="custom-tabs-four-home-tab">
                                                    <!-- The timeline -->
                                                    <div class="row">
                                                        <div class="col-sm-6 pr-0">
                                                            <div class="timeline timeline-inverse">
                                        @* /* ------------------------------- Review List ------------------------------ */ *@
                                                                <div class="time-label">
                                                                    <span class="bg-primary">
                                                                        PROBLEM DETAIL <br> 
                                                                    </span>
                                                                </div>
                                                                    @Html.Partial("Problem/Parent") 
                                                                    @Html.Partial("Problem/Children") 
                                                                    @ReplyBox()
                                                                    

                                                                @* @if(Topic.Status == 11 || Topic.Status == 12){
                                                                <div class="time-label">
                                                                    <span class="bg-primary">
                                                                        Closed 
                                                                    </span>
                                                                </div>
                                                                } *@
                                                                <div>
                                                                    <i class="far fa-clock bg-gray"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="timeline timeline-inverse">
                                        @* /* ------------------------------- Review List ------------------------------ */ *@
                                                                <div class="time-label">
                                                                    <span class="bg-primary">
                                                                        DISCUSSION <br> 
                                                                    </span>
                                                                </div>

                                                                @foreach(var Message in Messages){
                                                                    @Html.Partial("Discussion/Children", Message) 
                                                                }

                                                                @ReplyBox()

                                                                @* @if(Topic.Status == 11 || Topic.Status == 12){
                                                                <div class="time-label">
                                                                    <span class="bg-primary">
                                                                        Closed 
                                                                    </span>
                                                                </div>
                                                                } *@
                                                                <div>
                                                                    <i class="far fa-clock bg-gray"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="custom-tabs-four-profile" role="tabpanel" aria-labelledby="custom-tabs-four-profile-tab">
                                                    Mauris tincidunt mi at erat gravida, eget tristique urna bibendum. Mauris pharetra purus ut ligula tempor, et vulputate metus facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas sollicitudin, nisi a luctus interdum, nisl ligula placerat mi, quis posuere purus ligula eu lectus. Donec nunc tellus, elementum sit amet ultricies at, posuere nec nunc. Nunc euismod pellentesque diam. 
                                                </div>
                                        <!-- /.card -->
                                    </div>
                                </div> @* End of tab-pane *@
                                <!-- /.tab-pane -->
                                <!-- /.tab-pane -->
                                
                                <!-- /.tab-pane -->
                            </div>
                            <!-- /.tab-content -->
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.nav-tabs-custom -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

@helper ReplyBox(){
    <div class="mr-0">
    <i class="fas fa-pen bg-warning"></i>
        <div class="timeline-item mr-0" id="my-card">
            <div class="timeline-body reply_modal d-flex" style="padding: 10px 10px 5px 10px;cursor:pointer;" data-toggle="modal" data-target="#reply_modal">
                <h6 class="ml-auto mr-auto" style="font-family:Kanit"> 
                    <i class="fas fa-reply"></i>
                    &nbsp;Reply
                </h6> 
            </div>
        </div>
    </div>
}