@{
    //ViewBag.Title = "Home Page";
    ViewBag.Title = "New Event System | Home";
}
<script type="text/javascript">
    Search = '@Url.Action("Search", "Home")';
    GetLine = '@Url.Action("GetLine", "Home")';
    GetSearch = '@Url.Action("GetSearch", "Home")';
    SessionUser = '@Session["User"].ToString()';
    us_dept = '@Session["Department"].ToString()';
</script>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/sweetalert")
<script>
    $(document).ready(function () {
        $("#menu1-1").addClass('active');
        $('#menu2-1').removeClass('active');
        $('#menu3-1').removeClass('active');
        $("[name='dept']").val(us_dept,true)
    });

</script>

<script src="~/Scripts/Calendar/Calendar.js"></script>

<style>

    .txtcenter {
        text-align: center;
    }

    .setcheckbox {
        margin-top: 10px;
        margin-right: 15px;
    }

    .btn-hidden {
        display: none;
    }

    .bg-warning > i {
        color:white;
    }

    span.info-box-number {
        font-size: 16.5px;
    }

    .btn-left{
        border-radius: 5px 0px 0px 5px;
    }

    .btn-right{
        border-radius: 0px 5px 5px 0px;
    }
</style>
<!-- Content Wrapper. Contains page content -->
@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <button class="btn-hidden" type="submit" id="submit">  </button>

}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Main Menu</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">New Event System</a></li>
                        <li class="breadcrumb-item active">Search</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid" style="display:none">
            <h5 class="mb-2">Info Box</h5>
        </div>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- left column -->
                <div class="col-md-12">
                    <!-- jquery validation -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Search </h3>
                        </div>

                        <div class="card-body">
                            <div class="row">
                                <div id='calendar' class="col-xl-12 col-lg-9 col-md-8"></div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button type="submit" class="btn btn-default" id="clear_btn">Clear</button>
                            @* <button type="submit" class="btn btn-primary float-right" style="margin-left: 5px;"><i class="fa fa-file-archive-o"></i>&nbsp;&nbsp;Report</button> *@
                            <button id="search" type="submit" value="search" class="btn btn-info float-right"><i class="fa  fa-search"></i>&nbsp;&nbsp;Search</button>
                        </div>




                    </div>
                    <!-- /.card -->
                </div>
                <!--/.col (left) -->
                <!-- right column -->
                <!--/.col (right) -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>