@using NewEvent.Models

@{
    //ViewBag.Title = "Home Page";
    ViewBag.Title = "New Event System | Home";
    List<DepartmentList> DepartmentList = ViewData["DepartmentList"] as List<DepartmentList>;
    List<ProductType> ProductTypes = ViewData["FormProductType"] as List<ProductType>;

}
<script type="text/javascript">
    Search = '@Url.Action("Search", "Home")';
    GetLine = '@Url.Action("GetLine", "Home")';
    GetSearch = '@Url.Action("GetSearch", "Home")';
    SessionUser = '@Session["User"].ToString()';
    us_dept = '@Session["Department"].ToString()';
    GetLineByProductionPath = '@Url.Action("GetLineByProduction","Calendar")';
    NavigateToDetail = '@Url.Action("Index","Detail")';
</script>

<script src="~/Scripts/Calendar/Calendar.js?date='@DateTime.Now.ToString("yyMMddHH")'"></script>
<script src="~/tmp/plugins/summernote/summernote-bs4.min.js"></script>
<script>
    $(document).ready(function () {
        $("#menu1-1").addClass('active');
        $('#menu2-1').removeClass('active');
        $('#menu3-1').removeClass('active');
    });
</script>

<style>

    .txtcenter {
        text-align: center;
    }

    .setcheckbox {
        margin-top: 10px;
        margin-right: 15px;
    }

    .btn-hidden {
        display: none;
    }

    .bg-warning > i {
        color:white;
    }

    span.info-box-number {
        font-size: 16.5px;
    }

    .btn-left{
        border-radius: 5px 0px 0px 5px;
    }

    .btn-right{
        border-radius: 0px 5px 5px 0px;
    }

    .main-sidebar , .main-header{
        z-index: 20 !important;
    }

    .fc-daygrid-body, .fc-scrollgrid-sync-table, .fc-col-header {
        width: 100% !important;
    }
    
    .btn-group span {
        font-family: 'Font Awesome 5 Free' !important;
    }
    
    ngb-popover-window {
        will-change: unset !important;
    }
</style>
<!-- Content Wrapper. Contains page content -->
@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <button class="btn-hidden" type="submit" id="submit">  </button>

}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Calendar</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">New Event System</a></li>
                        <li class="breadcrumb-item active">Search</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>


    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                @Html.Partial("NewEvent",ProductTypes)
            </div>
            
            <div class="card card-primary card-outline">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div id='calendar' class="col-md-12"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


